code/georeferencing.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3schools.com"
xmlns="http://www.w3schools.com"
elementFormDefault="qualified">
 <xs:element name="places">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="place" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>	
       <xs:element name="place_name" type="xs:string"/>
       <xs:element name="latitude" type="xs:decimal"/>
       <xs:element name="longitude" type="xs:decimal"/>
	   <xs:element name="score" type="xs:decimal"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>